.code-2fa {
position: absolute;
width: 94%;
height: 10%;
top: 40%;
left:3%;
}

.try-again {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 100%;
    
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 50%;
    font-size: 60%;
    line-height: 50%;
    
    color: #FFFFFF;
}

.form-control-code {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 15%;
    height: 45%;
    
    background: white url(./../svg/blue-2fa.png) no-repeat 1px 1px;
    background-size: 25px;
    padding-left:10%; 
    border: 2px solid #FF0000;
    
    border-radius: 5px; 
    
    text-align: center;
    font-size: 1vw;
    
    line-height: 100%;
    font-weight: 10;
    color: #16456B;
    }
    
.form-control-code::placeholder{
    text-align: center;
    font-size: 100%;
    line-height: 100%;
}