body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slogan {
/* Free from censorship */

position: absolute;
left: 33.8%;
right: 33.8%;
top: 68.2%;

font-family: 'Nexa';
font-style: normal;
font-weight: 100vw;
font-size: 2vw;
line-height: 5vw;
text-transform: uppercase;

color: #FFFFFF;

}

.start {
/* Start */

position: center;
border-radius: 10px;

background: #FFFFFF;
}

.start-name {
/* START */

position: center;

font-family: 'Nexa Bold';
font-style: normal;
font-weight: 100%;
font-size: 100%;
line-height: 100%;

color: #FF0000;
}