
.name-input {
/* Username */
position: absolute;
width: 100%;
left: 0%;
top: 0%;
height: 15%;
font-size: 0.7vw;

font-family: 'Nexa';
font-style: normal;

color: #FFFFFF;
}

.form-control-username{
/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
bottom: 0%;
height: 60%;

background: white url(./../svg/blue-user.png) no-repeat 1px 1px;
background-size: 25px;
padding-left:10%; 
border: 1px solid #FF0000;

border-radius: 5px; 

text-align: center;
font-size: 1vw;

line-height: 100%;
font-weight: 10;
color: #16456B;

}

.form-control-fname{
    /* Rectangle 4 */
    
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 60%;
    
    background: white url(./../svg/blue-name.png) no-repeat 1px 1px;
    background-size: 25px;
    padding-left:10%; 
    border: 1px solid #FF0000;
    
    border-radius: 5px; 
    
    text-align: center;
    font-size: 1vw;
    
    line-height: 100%;
    font-weight: 10;
    color: #16456B;
    
    }

.form-control-mail{
    /* Rectangle 4 */
    
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 60%;
    
    background: white url(./../svg/blue-mail.png) no-repeat 1px 1px;
    background-size: 25px;
    padding-left:10%; 
    border: 1px solid #FF0000;
    
    border-radius: 5px; 
    
    text-align: center;
    font-size: 1vw;
    
    line-height: 100%;
    font-weight: 10;
    color: #16456B;        
}

.form-control-password{
    /* Rectangle 4 */
    
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 60%;
    
    background: white url(./../svg/blue-key.png) no-repeat 1px 1px;
    background-size: 25px;
    padding-left:10%; 
    border: 1px solid #FF0000;
    
    border-radius: 5px; 
    
    text-align: center;
    font-size: 1vw;
    
    line-height: 100%;
    font-weight: 10;
    color: #16456B;        
}

.form-control-confirm{
    /* Rectangle 4 */
    
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 60%;
    
    background: white url(./../svg/blue-confirm.png) no-repeat 1px 1px;
    background-size: 25px;
    padding-left:10%; 
    border: 1px solid #FF0000;
    
    border-radius: 5px; 
    
    text-align: center;
    font-size: 1vw;
    
    line-height: 100%;
    font-weight: 10;
    color: #16456B;        
}

.form-control-email::placeholder{
    text-align: center;
    font-size: 75%;
    line-height: 100%;    
}

.form-control-password::placeholder{
    text-align: center;
    font-size: 75%;
    line-height: 100%;    
}

.form-control-confirm::placeholder{
    text-align: center;
    font-size: 75%;
    line-height: 100%;    
}

.form-control-fname::placeholder{
    text-align: center;
    font-size: 75%;
    line-height: 100%;    
}

.form-control-username::placeholder{
    text-align: center;
    font-size: 75%;
    line-height: 100%;
}

.username {

position: absolute;
width: 93%;
height: 7%;
left: 3%;
right: 3%;
top: 21%;

}

.first-name {
    position: absolute;
    width: 93%;
    height: 7%;
    left: 3%;
    right: 3%;
    top: 30%;    
}

.second-name {
    position: absolute;
    width: 93%;
    height: 7%;
    left: 3%;
    right: 3%;
    top: 39%;    
}

.email {
    position: absolute;
    width: 93%;
    height: 7%;
    left: 3%;
    right: 3%;
    top: 48%;    
}

.password {
    position: absolute;
    width: 93%;
    height: 7%;
    left: 3%;
    right: 3%;
    top: 57%;    
}

.reenter-password {
    position: absolute;
    width: 93%;
    height: 7%;
    left: 3%;
    right: 3%;
    top: 66%;    
}

.buttom {

position: absolute;
top: 76%;
left: 35%;
right: 35%;

width: 30%;
height: 8%;
background: #FFFFFF;
border: 2px solid #FF0000;
border-radius: 10px; 
box-sizing: border-box;
}

.buttom-name {
    position: center;
    font-family: 'Nexa';
    font-style: normal;
    line-height: 50%;

    color: #FF0000;
}

.to-sign-in {
    position: absolute;
    left: 20.02%;
    right: 20.41%;
    top: 90%;
    bottom: 10.68%;

    font-family: 'Nexa';
    font-style: normal;
    font-weight: 40;
    font-size: 60%;
    line-height: 50%;
    text-align: center;

    color: #FFFFFF;
}

.link-sign-in {
    text-decoration: none; 
    color: #FFFFFF;
}

